// PRUEBA DE @IF
$theme-change: "dark"; //cambiar entre light o dark manualmente
// 


$transparent-white: rgba(218, 218, 218, 0.4);
$primary-color: rgb(99, 76, 105);
$secondary-color: rgb(169, 111, 184);
$tertiary-color: rgb(72, 13, 167);

$primary-color-box: rgba(0, 0, 255, 0.4);
$secondary-color-box: rgba(0, 255, 0, 0.4);
$tertiary-color-box: rgba(255, 0, 0, 0.4);